body{
    background-image: linear-gradient(to top, #accbee 0%, #e7f0fd 100%);
}
.col-md-6{
    margin-top: 150px !important;
    margin-bottom: 245px !important;
    background-image: linear-gradient(to top, #accbee 0%, #e7f0fd 100%);
    /* border: 5px solid black  !important; */
}
input[type=button]{
    width: 100%;
    background-color: blue;
    color: white;
    font-weight: bolder;
    border: 3px solid black;
}
input[type=text]{

    width: 100%;
}
h1{
    font-weight: bolder !important; 
    margin-top: 15px;
}